/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Nov-2017, 9:17:39 AM
    Author     : zackmitchell
*/

*:focus {
    outline: none;
}

a, a:hover {
    text-decoration: none !important;
}

body {
    background-color: #f0f0f0;
}

.widget {
    margin-bottom: 30px;
}

a.btn-primary,
.btn-primary,
.tyros-button,
#main-heading {
    color: #fff;
}

.tyros-button {
    border: 2px solid #fff;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

#parent-slider-wrap {
    background: #fff;
}

div#tyros_slider_wrap {
    margin-bottom: 0 !important;
}

@media (max-width:767px) {
    .boxed-wrap {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .row.boxed-wrap {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

#site-toolbar {
/*    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);*/
}

@media (max-width: 767px) {
    #site-toolbar .contact-bar {
        display: none;
    }
}

#site-toolbar .contact-bar a,
#site-toolbar .social-bar a {
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    cursor: pointer;
}

#site-toolbar .contact-bar a {
    font-size: 16px;
}

#site-toolbar .social-bar a {
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    width: 25px;
    height: 25px;
    margin: 7px 5px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border: none;
    border-radius: 50%;
    background: #D8D8D8;
    color: #fff;
}

#site-toolbar .social-bar a:first-of-type {
    margin-left: 0;
}

#site-toolbar .contact-bar a .fa {
    vertical-align: middle;
}

#site-toolbar .contact-bar a.icon-phone .fa {
    font-size: 18px;
}

/* --- Branding Bar --- */
#site-branding {
    min-height: 80px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
    padding: 0 15px;
}

#site-branding div.branding {
   width: 25%;
}

#site-branding div.navigation {
   width: 75%;
   font-size: 15px;
   height: 100%;
}

#site-branding img {
    max-height: 80px;
    width: auto;
}

@media (max-width:991px) {
    #site-branding div.branding {
        width: 100%;
    }
}

#site-branding .site-title {
    margin: 0;
    font-size: 32px;
}


#site-branding div#primary-menu,
#site-branding div.navigation ul#primary-menu {
    text-align: right;
}

div#primary-menu > ul > li,
ul#primary-menu > li {
    vertical-align: text-top;
    display: inline-block;
    padding-bottom: 0;
    float: none;
    padding-right: 15px;
}

div#primary-menu > ul > li:last-of-type,
ul#primary-menu > li:last-of-type {
    padding-right: 0;
}

div#primary-menu > ul > li > a,
ul#primary-menu > li > a {
    color: #222222;
}

#site-branding div#primary-menu > ul ul.sub-menu,
#site-branding ul#primary-menu ul.sub-menu {
    background-color: #fff;
    opacity: 0;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    text-align: left;
    padding: 15px 0;
    display: none;
}

#site-branding div#primary-menu > ul > li.menu-item-has-children:hover > ul.sub-menu,
#site-branding ul#primary-menu > li.menu-item-has-children:hover > ul.sub-menu {
    display: block;
}

#site-branding div#primary-menu > ul li:hover ul.sub-menu,
#site-branding ul#primary-menu li:hover ul.sub-menu {
    opacity: 1;
}

@media (max-width:991px) {
/*    #site-branding {
        height: 80px;
    }*/
    #site-branding .navigation {
        display: none;
    }
/*    div#content {
        margin-top: 120px !important;
    }*/
}

.is-sticky div#site-branding-sticky-wrap {
    
}
div#site-branding-sticky-wrap {
    border-bottom: 1px solid #DDD;
    background: #ffffff;
    z-index: 999;
    animation-duration: .6s;
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;   
}

header#masthead div#primary-menu > ul > li > a,
header#masthead ul#primary-menu > li > a {
    transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;
    -moz-transition: 0.15s all ease-in-out;   
}

/* CTA Trio */

div#site-cta-wrap {
    background-color: #fff;
    overflow: hidden;
}

div#site-cta {
    padding: 50px 0;
}

.site-cta h3 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.site-cta p.text {
    margin: 5px 0 0 0;
}

.site-cta p.link {
    margin: 15px 0 0 0;
}

@media (max-width: 991px) {
    div#site-cta .site-cta {
        margin-bottom: 30px;
    }
}

/* Slider */
#tyros_slider_wrap .camera_caption {
    display: table;
    width: 100%;
    height: 100%;
}

#tyros_slider_wrap .camera_caption > div {
    display: table-cell;
    vertical-align: middle;
}

.camera_loader {
    left: 100%;
    top: 0%;
    margin-left: -51px;
    margin-top: 15px;
}

.camera_prev > span {
    background: url(../images/camera_skins.png) no-repeat 0 -80px;
    display: block;
    height: 40px;
    width: 40px;
}

.camera_next > span {
    background: url(../images/camera_skins.png) no-repeat -40px -80px;
    display: block;
    height: 40px;
    width: 40px;
}

.camera_prev, .camera_next {
    background: none;
}

.sc-slider-wrapper {
    background-color: #f8f8f8;
}

.sc-slider-wrapper .camera_caption > div span {
    font-size: 50px;
    line-height: normal;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    -webkit-text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.sc-slider-wrapper .camera_caption > div span.secondary-caption {
    font-size: 24px;
}

.sc-slider-wrapper .tyros-button {
    background: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin: 15px 0 0 0;
    text-transform: none;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.sc-slider-wrapper .tyros-button:hover {
    background: rgba(255,255,255,.2);
}

@media (max-width: 991px) {

    .sc-slider-wrapper .camera_caption > div span {
        font-size: 36px;
    }

    .sc-slider-wrapper .camera_caption > div span.secondary-caption {
        font-size: 20px;
    }
    
}

/*  
 * Pagination Links ------------------------------------------------------------
 */
.pagination-links {
    text-align: center;
    padding: 0 0;
}

.pagination-links .page-numbers,
.woocommerce nav.woocommerce-pagination ul li span {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 5px;
    color: #666;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.pagination-links .page-numbers:hover,
.woocommerce nav.woocommerce-pagination ul li:hover {
    background-color: #dadada;
}

.pagination-links .page-numbers.current {
    color: #ffffff;
}

.pagination-links .page-numbers.dots {
    background: none;
}

/* Post Slider Callout Banner */

div#post-slider-cta {
    color: #fff;
    padding: 50px 30% 50px 30px;
    position: relative;
    overflow: hidden;
}

div#post-slider-cta .main-heading {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.cta-button-wrap {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 30%;
    text-align: right;
}

.cta-button-wrap .inner-wrap {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

.cta-button-wrap .inner-wrap .inner {
    display: table-cell;
    vertical-align: middle;
}

.cta-button-wrap .inner .tyros-button {
    color: #fff;
}

@media (max-width:767px) {

    div#post-slider-cta {
        padding: 30px 30px 40px 30px;
    }
    
    div#post-slider-cta .main-heading {
        font-size: 22px;
        text-align: center;
    }

    .cta-button-wrap {
        position: relative;
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    
}

/* Team Member */
.smartcat_team_member:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* Blog */

#tyros-main-blog-wrap,
#tyros-carousel-blog-wrap {
    margin-top: 15px;
}

.item-post {
    background: #fff;
    margin-bottom: 15px;
}

.item-post.text-left {
    padding: 25px 15px 15px 30px;
}

.item-post .tyros-button {
    margin-bottom: 15px;
    margin-top: 15px;
}

.item-post .col-md-8 .text-right {
    padding-right: 15px;
}

#tyros-carousel-blog-wrap .item-post {
    border: 1px solid rgb(234, 234, 234);
}

#tyros-main-blog-wrap .item-post .post-title,
#tyros-carousel-blog-wrap .item-post .post-title {
    margin: 0;
    font-size: 22px;
    line-height: normal;
}

#tyros-main-blog-wrap .item-post .post-title {
    margin: 15px 0 0 0;
}

#tyros-main-blog-wrap .item-post .post-thumb img,
#tyros-carousel-blog-wrap .item-post .post-thumb img,
div#masonry-blog-wrapper .blog-roll-item article .image img {
    /*    padding: 10px;*/
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    width: 100%;
}

#tyros-carousel-blog-wrap .item-post .inner {
    padding: 15px 15px 15px 15px;
}

#tyros-main-blog-wrap .item-post:hover img,
#tyros-carousel-blog-wrap .item-post:hover img,
div#masonry-blog-wrapper .blog-roll-item article:hover .image img {
    transform: scale(1.1);
    -webkit-filter: blur(.5px);
    -moz-filter: blur(.5px);
    filter: blur(.5px);
    opacity: 0.85;
}

#tyros-carousel-blog-wrap .item-post .post-thumb {
    overflow: hidden;
    background-color: #fff;
}

#tyros-carousel-blog-wrap .item-post .post-content {
    margin-top: 5px;
}

#tyros-carousel-blog-wrap.owl-theme .owl-dots {
    width: 30%;
    margin-left: 35%;
    background: #fff;
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
}

div#tyros-main-blog-wrap .item-post .post-thumb .inner {
    overflow: hidden;
}

div#tyros-main-blog-wrap .item-post.text-left .post-title {
    margin: 0 !important;
}

@media (max-width: 767px) {
    div#tyros-main-blog-wrap .item-post .post-title {
        margin: 0;
    }
    div#tyros-main-blog-wrap .item-post .inner-content {
        padding: 15px 15px 5px 15px;
    }
    div#tyros-main-blog-wrap .item-post.text-left {
        padding: 5px 15px 5px 0px;
    }
}

/* Masonry Blog Style 1 */
#tyros-alt-blog-wrap {
    margin-top: 15px;
}

div#masonry-blog-wrapper .blog-roll-item article {
    padding: 0;
    margin-bottom: 15px;
}

div#masonry-blog-wrapper .blog-roll-item .inner {
    padding: 15px 15px 15px 15px;
}

div#masonry-blog-wrapper .blog-roll-item .inner.has-image {
    padding: 15px 15px 15px 15px;
}

#masonry-blog-wrapper .blog-roll-item .post-content {
    margin-top: 5px;
}

div#masonry-blog-wrapper .blog-roll-item .post-title {
    margin: 0;
    font-size: 22px;
    line-height: normal;
}

div#masonry-blog-wrapper .blog-roll-item article .image {
    overflow: hidden;
}

div#masonry-blog-wrapper .post-meta {
    text-transform: uppercase;
    letter-spacing: .125em;
    font-size: 12px;
}

div#masonry-blog-wrapper .post-category {
    margin-bottom: 0;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: .125em;
}

/* Masonry Blog Style 2 */
div#tyros-alt-blog-wrap.masonry2 article .image {
    position: relative;
    background: #000;
}
div#tyros-alt-blog-wrap.masonry2 .blog-roll-item article:hover .image img {
    opacity: .75 !important;
}
div#tyros-alt-blog-wrap.masonry2 .blog-roll-item .inner {
    padding: 30px;
}

div#tyros-alt-blog-wrap.masonry2 .blog-roll-item .inner a {
    color: #333;
}
    
div#tyros-alt-blog-wrap.masonry2 .blog-roll-item .image .inner.has-image {
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.66);
    color: #fff;
}

div#tyros-alt-blog-wrap.masonry2 .blog-roll-item .image .inner.has-image a {
    color: #fff;
}
div#tyros-alt-blog-wrap.masonry2 .blog-roll-item article:hover .inner.has-image {
    opacity: 1;
}
.blog-roll-item .bottom-meta {
    display: none !important;
    width: 100%;
    width: calc(100% + 1px);
    border-radius: 0;
    position: relative;
    position: absolute;
    bottom: -48px;
    left: 0;
    opacity: 0;
    /* border-top: thin solid #eaeaea; */
    /*background: rgba(0, 0, 0, 0.75);*/
    /*border-top: thin solid #eaeaea;*/
}
.blog-roll-item .bottom-meta .meta-section {
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 5px;
    width: 25%;
/*    border-right: thin solid #eaeaea;*/
}
.blog-roll-item .bottom-meta .meta-section i {
    color: #fff;
}
.blog-roll-item .bottom-meta .meta-section:hover i {
  /* color: $color__theme_secondary; */
}
.blog-roll-item .bottom-meta a.ext-link {
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
    padding: 15px 5px;
    width: 25%;
/*    border-right: thin solid #eaeaea;*/
}
/*
.blog-roll-item .bottom-meta a.ext-link .fa,
.blog-roll-item .bottom-meta .meta-section .fa {
    padding-top: 30px !important;
    display: inline-block;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.blog-roll-item .bottom-meta a.ext-link:hover .fa,
.blog-roll-item .bottom-meta .meta-section:hover .fa {
    padding-bottom: 10px;
}*/

.blog-roll-item .bottom-meta a.ext-link .ext-link-section,
.blog-roll-item .bottom-meta a.ext-link .meta-comments-section,
.blog-roll-item .bottom-meta a.ext-link .meta-author-section {
  color: #fff;
  vertical-align: bottom;
}

div#tyros-alt-blog-wrap.masonry2 article {
    border: none;
}

div#tyros-alt-blog-wrap.masonry2 article hr {
    margin: 15px 0;
}

.blog-roll-item .bottom-meta a.ext-link:hover i {
  /* color: $color__theme_secondary; */
}

.blog-roll-item .bottom-meta a:last-of-type {
    border: none;
}

/* Static Front Page */
body.home article.page {
    padding: 30px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

body.home article.page .entry-title {
    margin-top: 15px;
}

/* Footer */
img#scl {
    height: 20px;
    vertical-align: text-top;
}

/* Widgets */
aside.widget ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.homepage-widget-area .top-banner-text {
    margin-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 30px 15px 15px 15px;
}

.tyros-sidebar aside.widget {
    overflow: hidden;
    background: rgb(255, 255, 255);
    color: rgb(82, 82, 82);
    border: 1px solid rgb(234, 234, 234);
    margin-bottom: 15px;
    padding: 15px 15px;
}

.widget-area ul li:last-of-type {
    border-bottom: none;
}

.above-post-area.top-banner-text,
.above-page-area.top-banner-text {
    padding: 30px 15px 15px;
    margin-top: 30px;
}

.below-post-area.top-banner-text,
.below-page-area.top-banner-text {
    padding: 30px 15px 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media (max-width:991px) {
    .above-post-area.top-banner-text,
    .above-page-area.top-banner-text {
        margin-top: 15px;
    }
    .below-post-area.top-banner-text,
    .below-page-area.top-banner-text {
        margin-top: 0px;
    }
    .page-content {
        margin-top: 15px;
    }
}

#homepage-area-b .top-banner-text,
#homepage-area-b .top-banner-text a {
    color: #fff;
}

/* Single Templates */
.single-post .entry-title {
    margin-top: 0; 
}

body.page article,
.single-post article {
    padding: 30px;
    margin-bottom: 15px;
}


/* Search Page */
body.search .page-header {
    background: #fff;
    padding: 15px 30px;
    margin-top: 0;
    margin-bottom: 30px;
}

body.search div#tyros-alt-blog-wrap {
    margin-top: 0;
}

input.search-field {
    height: 36px;
    padding: 0px 15px;
}

@media (max-width:991px) {
    body.search .page-header {
        margin-bottom: 15px;
    }
}

/* 404 Error Page */
section.error-404.not-found {
    background: #fff;
    padding: 15px 30px;
}

section.error-404.not-found .page-header {
    margin: 0;
    padding-bottom: 15px;
}

/* Comments */
.comment-list {
    margin-left: 0;
    padding-left: 0;
}
